
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
#left-bar {
  position: fixed;
  display: table-cell;
  top: 100;
  bottom: 10;
  left: 10;
  width: 35%;
  overflow-y: auto;
}

#right-bar {
  position: fixed;
  display: table-cell;
  top: 100;
  bottom: 10;
  right: 10;
  width: 45%;
  overflow-y: auto;
}

</style>
<body>

<center><h1> Image Classification </h1></center>

<div id= "left-bar" >

</div> <div id= "right-bar" ></div>

</body>
</html>

